dist
node_modules
uploads
test

.dockerignore
.gitignore
.gitlab-ci.yml
.prettierrc
app-env
docker-compose.yml
Dockerfile
openapi.yaml
package-lock.json
README.md
tsconfig.json
tslint.json
yarn-error.log
yarn.lock
